* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

.scroll {
  overflow: auto;
}

header {
  margin: 0 97.0974px;
  padding: 0 96px;
}

.section {
  margin: 0 97.0974px;
  padding: 0 96px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.article {
  flex-basis: 50%;
  padding-right: 142px;
}

.link {
  text-decoration: unset;
  color: #1a0dab;
  font-size: 20px;
  font-weight: 400;
}

.link:hover {
  text-decoration: underline;
}

.link:visited {
  color: #681da8;
}

.content-header {
  margin: 0;
  padding: 0;
}
